body {
    font-family: 'Inter', sans-serif !important;

}

h1 {
    font-weight: bolder !important;
    font-size: 38px !important;
}

h2 {
    font-weight: 700 !important;
}

h3 {
    font-weight: 700 !important;
    font-size: 24px !important;
}

h4 {
    font-weight: 700 !important;
}

h5 {
    font-weight: 700 !important;
    font-size: 14px !important;
}

p {
    font-size: 18px !important;
}

.bigger-p {
    font-size: 20px !important;
}

.with-eight {
    text-shadow:
        0.05em 0 #414040,
        0 0.05em #414040,
        -0.05em 0 #414040,
        0 -0.05em #414040,
        -0.05em -0.05em #414040,
        -0.05em 0.05em #414040,
        0.05em -0.05em #414040,
        0.05em 0.05em #414040;
}

.text-justify {
    text-align: justify;
}

/* NAV */

.navbar-logo {
    max-width: 100%;
    height: 40px;
}

.login {
    color: #29b3cf !important;
}

ul.navbar-nav a:hover {
    color: #29b3cf !important;
}

/* WHATSAPP */

.whatsapp {
    position: fixed;
    width: 55px;
    height: auto;
    bottom: 40px;
    left: 30px;
    z-index: 100;
    transition: transform .2s;
}

.whatsapp:hover {
    transform: scale(1.2);

}

/* HERO */

.hero {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(.4);
}

.text-overlay {
    color: white;
    text-align: center;
    width: 100% !important;
}

@media only screen and (max-width: 768px) {
    .hero-text h1 {
        font-size: 30px !important;
    }
}

/* NOSOTROS INDEX */

.texto-nosotros {
    padding-top: 40px;
}

@media screen and (min-width: 768px) {
    .nosotros-text {
        width: 48% !important;
    }

    .nosotros-img {
        width: 48% !important;
    }

    .btn-nosotros {
        justify-content: start !important;
    }
}

.btn-nosotros {
    display: flex;
    justify-content: end;
}

/* SERVICIOS */

.servicios {}

.container-servicios {
    padding-top: 50px;
    padding-bottom: 50px;
}

.servicio {
    background-color: #1a1a1b;
    color: white;
    min-height: 400px;
    /* display: flex;
    justify-content: space-between; */
    overflow: hidden;
}

/* .servicio img {
    height: 420px;
    width: auto;
} */

.servicios-link {
    font-weight: bold !important;
}

.nav-tabs .nav-link:not(.spot-tab) {
    background-color: #29b3cf !important;
    color: white !important;
}

.nav-tabs .nav-link.active:not(.spot-tab.active) {
    color: #eaeaea !important;
    background-color: #218599 !important;
    border-color: white !important;
    border-bottom-color: transparent !important;
}

.spot-tab.active {
    color: #de8422 !important;
    background-color: #414040 !important;
    border-color: transparent !important;
}

.spot-tab {
    color: #ffffff !important;
    background-color: #de8422 !important;
}

.nav-tabs.nav-link.active.spot-tab {
    color: #de8422 !important;
}

.nav-justified .nav-item .nav-link {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 992px) {
    .servicio {
        flex-direction: column;
        align-items: center !important;
        height: auto !important;
    }

    .info-servicios {
        width: 100% !important;
        text-align: center;
        padding: 10px 10px 20px !important;
    }

    .foto-servicios {
        width: 80% !important;
        display: none;
    }

    .video-servicios {
        padding: 35px 0;
    }
}

@media screen and (max-width:1200) {
    .foto-servicios {
        width: 60% !important;
    }
}

.info-servicios {
    padding: 20px 0 20px 40px;
    z-index: 999;
}

.foto-servicios {
    min-width: 100%;
    object-fit: cover;
    display: block;

}

.video-servicios {
    padding: 100px 0 20px;
}

.servicio-globalstar {
    background-image: url(/img/equipos\ satelitales/bg\ globalstar.webp);
    height: 400px;
    width: auto;
    background-size: cover;
    transition: all .2s ease-in-out; 
}

.servicio-globalstar:hover {
    background-image: url(/img/equipos\ satelitales/bg\ globalstar\ 2.webp);
}

.servicio-spot {
    background-image: url(/img/equipos\ satelitales/bg\ spot.webp);
    height: 400px;
    background-size: cover;
    transition: all .2s ease-in-out; 
}

.servicio-spot:hover {
    background-image: url(/img/equipos\ satelitales/bg\ spot\ 2.webp);
}

@media screen and (max-width:992px) and (min-width:768px) {
    .servicios-link {
        height: 66px !important;
    }
}


.spot {
    color: #d7d3c5;
}

.btn-spot {
    color: white !important;
    background-color: #de8422 !important;
    border-color: #de8422 !important;
    width: 250px;
}

.btn-spot:hover {
    background-color: #c1721e !important;
    border-color: #c1721e !important;
}

/* MODALS */

.img-servicios-main {
    width: 80%;
    height: auto !important;
    margin: 40px auto auto;
    border-radius: 50%;
}

.txt-servicios-main {
    width: 100%;
}

/* PROYECTOS V3 */

.proyecto-card {
    background-color: #1a1a1b;
    color: white;
    height: 300px;
    text-align: center;
    overflow: hidden;
}

.proyecto-card img {
    width: 100%;
    object-fit: cover;
    position: relative;
    display: block;
}

.image {
    position: relative;
    max-width: 100%;
    max-height: 300px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover>* {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.ver-mas {
    text-decoration: underline;
}

.proyectos-dropup {
    background-color: #29b3cf !important;
    padding: 10px 0 0 20px;
    text-align: start;
}

.proyecto-card-content {
    position: absolute;
    bottom: 0;
    right: 0;
}

.texto-proyectos p {
    font-size: 16px !important;
    text-align: justify;
}

/* TESTIMONIALES */

.testimoniales {
    background-color: #565657;
    margin: 0 auto;
    padding: 20px 0;
    min-height: 520px;
}

.testimoniales .carousel {
    margin: 0;
}

.container-testimoniales {
    padding: 40px 0;
}

.flex-testimoniales {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
    .video {
        width: 100% !important;
    }

    .quotes {
        width: 100% !important;
    }
}

.video {
    width: 48%;
    height: auto;
}

.video-container {
    position: relative;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
}

.grow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.quotes {
    color: white;
    width: 48%;
    min-height: 350px;
}

.autor {
    text-align: right;
    font-size: 22px !important;
}

/* MARQUEE */

.marquee {
    height: 140px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
    /* background-color: white; */
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 300s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1320vw);
    }
}

@keyframes scrolling2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-3300vw);
    }
}

@media screen and (max-width: 992px) {
    .marquee-content li {
        width: 25vw !important;
        padding: 0;
    }

    .marquee-content li img {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .marquee-content li {
        width: 50vw !important;
        padding: 0;
        animation:scrolling2 320s linear infinite;
    }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    white-space: nowrap;
    width: 20vw;
    padding: 20px 0;
}

ul {
    padding: 0 !important;
}

/* MARQUEE 2 */

.marquee-2 {
    height: 140px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
    /* background-color: white; */
}

.marquee-content-2 {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 300s linear infinite;
}

@keyframes scrolling2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-3300vw);
    }
}

@media screen and (max-width: 992px) {
    .marquee-content-2 li {
        width: 25vw !important;
        padding: 0;
    }

    .marquee-content-2 li img {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .marquee-content-2 li {
        width: 50vw !important;
        padding: 0;
        animation:scrolling2
    }

    .marquee-content-2 li img {
        width: 100%;
    }
}

.marquee-content-2 li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    white-space: nowrap;
    width: 20vw;
    padding: 20px 0;
}

/* FOOTER */

.footer {
    background-color: #1a1a1b;
    color: #8c8c8c;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 20px;
}

.footer-icon {
    font-size: 40px;
    padding: 0 2px;
    color: #b7b6b6 !important;
}

.footer-icon:hover {
    color: #29b3cf !important;
}

.footer-link {
    padding: 0;
    margin: 0;
    color: #b7b6b6 !important;
}

.footer-link a:hover {
    color: #29b3cf !important;
}

.footer-link a {
    font-weight: bold;
    color: #b7b6b6 !important;
}

.copyright {
    padding-top: 10px;
}

.inherit {
    width: auto;
    max-height: 400px ;
    display: block;
}

@media only screen and (max-width: 992px) {
    .inherit {
        display: none;
    }
}

/* CONTACTO */

.contacto {
    min-height: 100vh;
    object-fit: cover;
    background-color: #1a1a1b;
    color: white;
}

.contacto-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formulario-contacto {
    width: 48%;
    position: relative;
}

.mapa-contacto {
    width: 50%;
}


.telefono-correo {
    margin: 18px 0;
}


@media only screen and (min-width: 992px) {
    .telefono-correo {
        position: absolute;
        bottom: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 992px) {
    .contacto-container {
        flex-direction: column;
    }

    .formulario-contacto,
    .mapa-contacto {
        width: 100% !important;
    }
}

.info-contacto {
    text-align: end;
    color: rgba(255, 255, 255, 0.7);
}

.google-iframe {
    width: 90%;
    height: 90%;
}

.form-group {
    padding-bottom: 20px;
}

.form-control {
    border-style: none !important;
    border-radius: 0 !important;
    background-color: #1a1a1b !important;
    color: white !important;
    border-bottom: 4px white solid !important;
}

.btn-contacto {
    border-radius: 0 !important;
    font-weight: 700 !important;
    font-size: 24px !important;
}

.contacto-heading {
    padding-bottom: 10px;
}

.botones-contacto {
    padding: 50px 0 20px;
}

.botones-contacto a {
    margin-bottom: 5px;
}

.btn-idt {
    background-color: #29b3cf;
    color: white;
}

/* test proyectos */

.prueba-proyectos {
    background-color: #414040;
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
}

.link-proyectos {
    width: 16vw;
    height: 38vh;
    background-color: #29b3cf;
    color: white;
}

.link-16 {
    width: 16vw;
    height: 38vh;
}

.link-16 img {
    width: 16vw;
    height: 100%;
    object-fit: cover;
}

.link-46 {
    width: 46vw;
    height: 38vh;
}

.link-46 img {
    width: 46vw;
    height: 100%;
    object-fit: cover;
}

.pr-1 {
    padding-right: 1vw;
}

.banner {
    padding: 30px;
}

.div-banner {
    background-color: red;
    height: 250px;
    width: 100%;
    text-align: center;
}

/* Nosotros */

.nosotros {
    background-color: #1a1a1b;
    color: white;
}

.nosotros a {
    text-decoration: none;
}

.nosotros-hero {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 92vh;
}

.nosotros-hero img {
    padding: 10px;
}

.nosotros-nosotros {
    padding: 80px 0 60px 0;
}

.nosotros-nosotros p {}

.img-nosotros {
    max-height: 85vh;
}

.img-nosotros img {
    height: 100%;
    width: auto;
    margin-bottom: 5vh;
}

.container-nosotros {
    padding: 20px 20px 0;
    color: white;
}

.container-mv {
    max-width: 1000px;
    padding: 40px 0 10px;
    margin: 0 auto;
}

.mv {
    width: 100%;
    text-align: justify;
}

.texto-idt {
    color: #29b3cf !important;
}

.sub-texto-idt {
    color: #6fc7d8;
}

.texto-resaltado {
    color: #c2f3fd;
}

@media only screen and (min-width: 992px) {
    .mv {
        width: 400px;
    }

    .nosotros-hero img {
        width: 50% !important;
    }
}

@media only screen and (min-width: 1200px) {
    .mv {
        width: 480px;
    }
}

.servicios-icons {
    padding: 5px 40px;
    flex-wrap: wrap;
    align-items: center;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .servicios-icons {
        padding: 5px 150px;
    }
}

.swiper-slide {
    margin: 30px 0;
    background-color: transparent !important;
}

.servicio-nosotros {
    text-align: center;
    color: #29b3cf;
    padding: 10px 20px;
    width: 200px;
    height: 250 !important;
}

.servicio-nosotros img {
    max-width: 173px;
    max-height: 168px;
    padding-bottom: 20px;
}

.grow-animation {
    transition: all .2s ease-in-out;
}

.grow-animation:hover {
    transform: scale(1.1);
}

.encuentranos {
    padding-top: 40px;
    z-index: 999;
}

.oficina-horario {
    text-align: center;
}

.card-info {
    color: white;
    background-color: #29b3cf;
    text-align: center;
    padding: 20px;
    justify-content: center;
    justify-items: center;
    margin: 5px;
}

.card-info a {
    color: white !important;
    font-weight: bold;
}

.container-cartas {}

.card-info a:hover {
    color: rgb(225, 225, 225) !important;
}

@media only screen and (min-width: 762px) {
    .oficina {
        padding-right: 80px;
    }
}

.mapa {
    margin: 20px 0;
}

.spacer {
    aspect-ratio: 900/450;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
    display: block;
    overflow: hidden;
    height: 400px;
}

.spacer-top {
    aspect-ratio: 900/450;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    display: block;
    overflow: hidden;
    height: 400px;
}

.layer1 {
    background-image: url(/img/layer\ 1.svg);
    z-index: -1;
}

.layer2 {
    background-image: url(/img/layer2.svg);
}

.gradient-trans {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(26, 26, 27, 1) 66%);
}

.background {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
    display: block;
    overflow: hidden;
}

.polygon {
    background-image: url(/img/polygon.svg);
}

.blob-motion {
    z-index: 0;
}

.svg-container {
    max-width: 100%;
    position: absolute;
    vertical-align: middle;
    overflow: hidden;
}

.vertical-middle {
    vertical-align: middle;
}

/* ANIMACIONES */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }

    .faded {
        transition: none;
    }
}

.faded {
    filter: blur(5px);
    transition: all 1s;
    opacity: 0;
    transition-delay: 500ms;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* MODALS PROYECTOS */

.modal-body ul li::marker {
    color: #29b3cf;

}

.modal-body ul li {
    margin-left: 15px;
    padding-bottom: 4px;
}

.modal-body ul {
    list-style: url(/img/arrow.svg);
}

.modal-proyectos {
    /* background-color: #1a1a1b !important;
    color: white !important; */
}

.modal-body p {
    font-size: 16px !important;
}

.close {
    color: white;
    padding-right: 2px;
    font-size: 18px;
}

.close:hover {
    color: #b7b6b6;
    transition: 50ms;
}

.carousel img {
    overflow: hidden;
}

.proyecto-img {
    min-height: 417px;
    max-height: 417px;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    padding-bottom: 20px !important;
}

/* SERVICIOS SATELITALES */

.modal-globalstar {
    background-color: #1B75BC !important;
    color: #fff !important;
}

.modal-spot {
    background-color: #212322 !important;
    color: #ED8B00 !important;
}

.eq-logo {
    width: 20vw;
    height: auto;
    position: absolute;
    transition: all .2s ease-in-out; 
}

.eq-img {
    width: 215px;
    height: auto;
    position: absolute;
    transition: all .2s ease-in-out; 
}

.eq-svg {
    position: absolute;
    transition: all .2s ease-in-out; 
}

.servicio-globalstar:hover .eq-svg {
    transform: scale(1.5);
}

.servicio-globalstar:hover .eq-logo {
    transform: scale(1.1);
}

.servicio-globalstar:hover .eq-img {
    transform: scale(1.1);
}

.servicio-spot:hover .eq-svg {
    transform: scale(1.5);
}

.servicio-spot:hover .eq-logo {
    transform: scale(1.1);
}

.servicio-spot:hover .eq-img {
    transform: scale(1.1);
}

.esquitec {
    background-image: url(/img/proyectos/elecciones.webp);
    height: 300px;
    background-size: cover;
    background-position: center;
}

.argonaut {
    background-image: url(/img/proyectos/mina.webp);
    height: 300px;
    background-size: cover;
}

.iqua {
    background-image: url(/img/proyectos/iqua.webp);
    height: 300px;
    background-size: cover;
}

.mayo {
    background-image: url(/img/proyectos/rio\ mayo.webp);
    height: 300px;
    background-size: cover;
}

.guaymex {
    background-image: url(/img/proyectos/guaymex.webp);
    height: 300px;
    background-size: cover;
    background-position: center;
}

@media screen AND (min-width: 1200px) {
    .productos {
        padding: 0 20px;
    }
    
    .titulo-producto {
        margin-top: 10px;
    }
    
    .subtitulo-producto {
        height: 44px;
    }
    
    .texto-producto {
        min-height: 208px;
        padding-bottom: 16px;
        margin: 0;
    }    

    .productos-gen {
        border-bottom: 0px !important;
    }

}

.productos-gen {
    border-bottom: 1px solid white;
}

.productos {
    margin-bottom: 40px;
}

.subtitulo-producto {
    font-weight: bold;
}

.texto-producto {
    /* color: white; */
}

@media screen AND (max-width: 992px) {
    .eq-sat-web {
        display: none;   
    }
}


@media screen AND (min-width: 992px) {
    .eq-sat-mobile {
        display: none;
    }
}

.eq-sat-mobile {
    background-image: url(/img/equipos\ satelitales\ mobile.webp);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
}
